@import "../variables";
@import "../burger";
@import "../transitions";

.header {
	height: 10em;
	width: 100%;
	background-color: #ffffff00;
	padding: 2em;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 500;
	@include mobile {
		padding: 1em;
	}
	@include tablet {
		padding: 2em;
	}
	.header-nav {
		z-index: 500;
		.nav-item {
			margin-right: 1em;
			font-size: 1em;
			color: #f95c4f;
			font-family: neuzeit-grotesk, sans-serif;
			font-weight: 300;
			font-style: normal;
			color: black;
			text-decoration: none;
			transition: all 400ms;
			color: white;
			@include mobile {
				display: none;
			}
			@include tablet {
				display: none;
			}
		}
	}
	.header-logo {
		position: absolute;
		height: 100%;
		right: 0;
		top: 0;

		.logo {
			padding: 2em;
			height: 200px;
			width: 18em !important;
			@include mobile {
				padding: 1em;
				width: 12em !important;
			}
			@include tablet {
				padding: 2em;
				width: 18em !important;
			}
		}
	}
}
