@import "../variables.scss";

.residences-page {
	width: 100%;
	position: relative;

	top: 100px;
	.firstRow {
		position: relative;
		z-index: 2;
		.firstImage {
			width: 100%;
		}
	}
	.mainContent {
		height: 100%;
		top: 0;
		position: fixed !important;
		// z-index: 20;
		// background: white;
	}
}
