@import "variables";
.animate-building{
  height: 100%;
  position: relative;
  width:100%;
  max-width: 1920px;
  
  .first-image{
    width:100%;
    max-width: 1920px;
    width:100%;
    z-index:303;
    position: absolute;
    height: 100%;
    background-position: 90% center;
	background-repeat: no-repeat;
 
  }
  .building-image{
    width:100%;
    
  }

  
}