@import "variables";
.header-menu {
	display: none;
	@include mobile {
		display: block;
	}
	@include tablet {
		display: block;
	}
	.toggle {
		display: none;
	}
	.toggle-label {
		cursor: pointer;
		display: block;
		width: 32px;
		height: 32px;
		user-select: none;
		-webkit-tap-highlight-color: transparent;
	}
	.toggle-label:active {
		-webkit-tap-highlight-color: transparent;
	}
	.toggle-label {
		cursor: pointer;
	}
	.toggle-label .toggle-icon,
	.toggle-label .toggle-icon:before,
	.toggle-label .toggle-icon:after {
		position: relative;
		display: block;
		top: 50%;
		left: 50%;
		height: 2px;
		width: 32px;
		background: #fff;
		content: "";
		transition: all 500ms ease-in-out;
	}

	.toggle-label .toggle-icon {
		transform: translate3d(-50%, -5px, 0);
	}
	.toggle-label .toggle-icon:before {
		transform: translate3d(-50%, -11.5px, 0);
	}
	.toggle-label .toggle-icon:after {
		transform: translate3d(-50%, 5px, 0);
	}
	.toggle:checked ~ .toggle-label .toggle-icon {
		background-color: transparent;
	}
	.toggle:checked ~ .toggle-label .toggle-icon:before,
	.toggle:checked ~ .toggle-label .toggle-icon:after {
		top: 0;
	}
	.toggle:checked ~ .toggle-label .toggle-icon:before {
		transform: translateX(-50%) rotate(45deg);
		top: 1.5px;
	}
	.toggle:checked ~ .toggle-label .toggle-icon:after {
		transform: translateX(-50%) translateY(-10px) rotate(-45deg);
		top: 8.5px;
	}
	.toggle:checked ~ .toggle-label .toggle-text:before {
		visibility: hidden;
		opacity: 0;
	}
	.toggle:checked ~ .toggle-label .toggle-text:after {
		visibility: visible;
		opacity: 1;
	}
}
